<!-- BARRE DE RECHERCHE + BOUTTON AJOUT ADHERENT -->
<div 
	class="section">
	<div 
		class="container col-md-8 col-md-offset-2">
		<div 
			class="row well">
			<div>
				<div 
					class="col-md-4 ">
					<input 
						class="form-control"
						type="text" 							
						id="inputRechercheBase"
						placeholder="Noms, pr&eacute;noms, emails..."
						ng-model="modelRechercheBase.tout">
				</div>
				<div 
					class="col-md-3">
					<button 
						class="btn btn-default" 
						id="buttonRechercheBase"
						ng-click="lancerRechercheBase()">
						<i 
							class="fa fa-search" 
							aria-hidden="true">
						</i>
					</button>
					<button 
						class="btn btn-link" 
						id="buttonModeRechercheAvanceeOn"										
						ng-show="modeRechercheAvancee===false"
						ng-click="modeRechercheAvancee=true">
						Recherche avanc&eacute;e</a>
					</button>
				</div>
			</div>
<!-- FIN DE LA RECHERCHE - DEBUT BOUTON AJOUT ADHERENT  -->
			<div>	
				<a 
					class="btn btn-primary pull-right"
					href="#/adherentcreation">
					<i 
						class="fa fa-fw -square -circle fa-plus-square">
					</i>
					Ajouter membre
				</a>                   	
			</div>
		</div>
	</div>
</div>
<!-- FIN DE LA BARRE -->
   
<!-- TABLEAU DES ADHERENTS -->
<div 
	class="row">
	<div 
		class="table-responsive col-md-8 col-md-offset-2">
		<table 
			class="table table-hover table-striped text-center">
<!--TITRE DES COLONNES + BOUTONS DE TRI -->
			<thead>
				<tr>
					<th 
						class="colonneVue"
						style="width: 3%">						
					</th>
					<th 
						class="colonneID"
						style="width: 6%">						
						<div
							id="divID"							 
							ng-click="changerTri('id')">
							#ID		
							<i
								class="fa fa-sort pull-right" 
								aria-hidden="true"
								ng-show="colonneTri !== 'id'">
							</i>
							<i
								class="fa fa-caret-up pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'id' && descending === false">
							</i>
							<i
								class="fa fa-caret-down pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'id' && descending === true">
							</i>														
						</div>				
					</th>					
					<th 
						class="colonneNom"
						style="width: 15%">						
						<div
							id="divNom"							 
							ng-click="changerTri('nom')">
							Nom		
							<i
								class="fa fa-sort pull-right" 
								aria-hidden="true"
								ng-show="colonneTri !== 'nom'">
							</i>
							<i
								class="fa fa-caret-up pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'nom' && descending === false">
							</i>
							<i
								class="fa fa-caret-down pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'nom' && descending === true">
							</i>														
						</div>						
					</th>
					<th 
						class="colonnePrenom"
						style="width: 15%">	
						<div
							id="divPrenom"							 
							ng-click="changerTri('prenom')">
							Pr&eacute;nom
							<i
								class="fa fa-sort pull-right" 
								aria-hidden="true"
								ng-show="colonneTri !== 'prenom'">
							</i>
							<i
								class="fa fa-caret-up pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'prenom' && descending === false">
							</i>
							<i
								class="fa fa-caret-down pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'prenom' && descending === true">
							</i>														
						</div>					
					</th>
					<th 
						class="colonneEmail"
						style="width: 24%">						
						<div
							id="divEmail"							 
							ng-click="changerTri('email')">
							<i 
								class="fa fa-envelope-o" 
								aria-hidden="true">
							</i>
							E-mail 	
							<i
								class="fa fa-sort pull-right" 
								aria-hidden="true"
								ng-show="colonneTri !== 'email'">
							</i>
							<i
								class="fa fa-caret-up pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'email' && descending === false">
							</i>
							<i
								class="fa fa-caret-down pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'email' && descending === true">
							</i>														
						</div>						
					</th>
					<th 
						class="colonneDateNaissance"
						style="width: 17%">						
						<div
							id="divEmail"							 
							ng-click="changerTri('dateNaissance')">
							<i 
								class="fa fa-calendar-o" 
								aria-hidden="true">
							</i>
							Date naissance 	
							<i
								class="fa fa-sort pull-right" 
								aria-hidden="true"
								ng-show="colonneTri !== 'dateNaissance'">
							</i>
							<i
								class="fa fa-caret-up pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'dateNaissance' && descending === false">
							</i>
							<i
								class="fa fa-caret-down pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'dateNaissance' && descending === true">
							</i>														
						</div>					
					</th>
					<th 
						class="colonneEtat"
						style="width: 10%">
						<span
							ng-show="modeRechercheAvancee===true">
							&Eacute;tat :
						</span>						
						<select														
							id="filtreEtat"
							ng-model="filtreBy.etat"
							ng-show="modeRechercheAvancee===false">
							<option 
								value="">
								&Eacute;tat :
							</option>							
							<option 
								value="ABONNE">
								Abonn&eacute;
							</option>
							<option 
								value="INACTIF">
								Inactif
							</option>							
						</select>						
					</th>
					<th 
						class="colonneNbPret"
						style="width: 10%">						
						<div
							id="divEmail"							 
							ng-click="changerTri('nombre_media')">
							<i 
								class="fa fa-book" 
								aria-hidden="true">
							</i>
							Pr&ecirc;ts		
							<i
								class="fa fa-sort pull-right" 
								aria-hidden="true"
								ng-show="colonneTri !== 'nombre_media'">
							</i>
							<i
								class="fa fa-caret-up pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'nombre_media' && descending === false">
							</i>
							<i
								class="fa fa-caret-down pull-right text-primary"
								aria-hidden="true"
								ng-show="colonneTri === 'nombre_media' && descending === true">
							</i>														
						</div>					
					</th>	
				</tr>
<!-- FIN DES TITRES -->
<!-- BARRE DE RECHERCHE AVANCEE -->
				<tr 
					class="rowRechercheAvancee" 
					ng-show="modeRechercheAvancee==true">
						<th></th>
						<th></th>
						<th>
							<input 
								class="form-control"
								type="text" 								 
								id="inputRechercheNom"
								placeholder="Nom"
								ng-model="modelRechercheAvancee.nom">
						</th>
						<th>
							<input 
								class="form-control"
								type="text" 								 
								id="inputRecherchePrenom"
								placeholder="Pr&eacute;nom"
								ng-model="modelRechercheAvancee.prenom">
						</th>
						<th>
							<input 
								class="form-control"
								type="text" 								 
								id="inputRechercheEmail"
								placeholder="E-mail"
								ng-model="modelRechercheAvancee.email">
						</th>
						<th>
							<datepicker	
								date-set-hidden="true"
      							date-format="y-MM-dd"      							
							    date-typer="true"
							    button-prev='<i class="fa fa-arrow-circle-left"></i>'
								button-next='<i class="fa fa-arrow-circle-right"></i>'>
  								<input  
  									class="form-control" 									 
  									type="text"
  									id="inputRechercheDateNaissance"
  									ng-model="modelRechercheAvancee.date_naissance"/>
							</datepicker>
						</th>
						<th>
							<select														
								id="filtreEtat"
								ng-model="filtreBy.etat"
								ng-show="modeRechercheAvancee===true">
								<option 
									value="">
									Tous
								</option>
								<option 
									value="ABONNE">
									Abonn&eacute;
								</option>
								<option 
									value="INACTIF">
									Inactif
								</option>
							</select>
						</th>
						<th>
							<input 
								class="form-control"
								type="text" 								 
								id="inputRechercheNombrePrets"
								placeholder="Nombre"
								ng-model="modelRechercheAvancee.nombre_media">
						</th>						
						<th>
							<button 
								class="btn btn-default"
								id="buttonRechercheAvancee"
								ng-click="lancerRechercheAvancee()">
								<i 
									class="fa fa-search" 
									aria-hidden="true">
								</i>
							</button>
						</th>
						<th>
							<button
								class="btn btn-default"
								id="buttonModeRechercheAvanceeOff"														
								ng-click="modeRechercheAvancee=false">
								<i 
									class="fa fa-window-minimize" 
									aria-hidden="true">
								</i>
							</button>
						</th>
				</tr>
			</thead>
			<!-- FIN DE LA BARRE DE RECHERCHE AVANCEE -->
			<tbody>

				<tr 
					dir-paginate="adherent in listeAdherent |
								   orderBy:colonneTri:descending |
								  filter: filtreBy |
								  filter: getObjetFiltre()  |
								  itemsPerPage: 10">
					
					<td>
						<a 
							class="btn"
							href="#/adherentvisualisation/{{adherent.id}}">
							<i 
								class="fa fa-eye" 
								aria-hidden="true">
							</i>
						</a>
					</td>
					<td>
						<span 
							ng-bind="adherent.id">
						</span>
<!-- alternative :  @{{adherent.id}} -->
					</td>
					<td
						class="text-left">
						<span 						 
							ng-bind="adherent.nom">
							<img 
								class="img-circle pull-left"
								width="30"
								src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
							>
						</span>	
					</td>
					<td
						class="text-left">
						<span 
							ng-bind="adherent.prenom">
						</span>		
					</td>
					<td
						class="text-left">							
						<a
							ng-bind="adherent.email"
							href="mailto:{{adherent.email}}">
						</a>	
					</td>
					<td>
						<span 
							ng-bind="adherent.dateNaissance">
						</span>
					</td>
					<td>			
						<i 
							class="fa fa-check text-success" 
							ng-if="adherent.etat === 'ABONNE'"
							aria-hidden="true">
						</i>
						<i 
							class="fa fa-ban text-danger"
							ng-if="adherent.etat === 'INACTIF'" 
							aria-hidden="true">
						</i>		
					</td>
					<td>
						
						{{adherent.nombre_media}}
						<i 
							class="fa fa-book" 
							aria-hidden="true">
						</i>						
					</td>												
				</tr>		
			</tbody>
					
			<tfoot>
			</tfoot>			
		</table>
		
		<div 
			class="panel-footer">
			<div 
				class="row">
				<dir-pagination-controls
					class="pull-right">
				</dir-pagination-controls>
			</div>
		</div>
		
	</div>
</div>