	<!-- Text input-->

	<div class="container">

		<!-- Name Section -->
		<div class="col-md-7 col-md-offset-1 ">
			<form class="form-horizontal" role="form">

				<!-- Information personnel Section -->
				<!-- Form Name -->

				<fieldset>
					<!-- Information personnel Section -->
					<!-- Form Name -->
					<legend>
						Informations personnelles <a href="#" id="editInfos"
							class="btn btn-md btn-default pull-right"> <span
							class="glyphicon glyphicon-pencil"></span></a>
					</legend>

					<div class="form-group">
						<div class="col-sm-3">
							<label class="col-sm-2 control-label" for="">Nom:</label>
						</div>
						<div class="col-sm-3">
							<label class="editinfo col-sm-2 control-label" for="">Billy:</label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label class="col-sm-2 control-label">Prenom:</label>
						</div>
						<div class="col-sm-3">
							<label class="editinfo col-sm-2 control-label" for="">Budd:</label>
						</div>
					</div>
					<!-- Text input-->
					<div class="form-group">
						<label class="col-sm-3 control-label" style="padding-right: 4px;">Date
							de naissance:</label> <label class="editinfo col-sm-3 control-label"
							style="padding-right: 4px;">26/12/1222</label>
					</div>
					<!-- Text input-->
					<div class="form-group">
						<div class="col-sm-4">
							<label class="col-sm-4 control-label">Email:</label> <label
								class="editinfo col-sm-4 control-label">ben10@gmail.com:</label>
						</div>
					</div>

					<!-- Form Name -->
					<legend>
						Adresse : <a href="#" id="editAdresse"
							class="btn btn-md btn-default pull-right"> <span
							class="glyphicon glyphicon-pencil"></span>
						</a>
					</legend>
					<!-- Text input-->
					<div class="form-group">
						<div class="col-sm-4">
							<label class="control-label" style="padding-left: 15px;">Code
								postal:</label>
						</div>
					</div>
					<!-- Text input-->
					<div class="form-group">
						<div class="col-sm-4">
							<label class="col-sm-4 control-label">Ville:</label>
						</div>
					</div>

					<legend>
						Gestion Abonnement Membre : <a href="#"
							class="btn btn-md btn-default pull-right"> <span
							class="glyphicon glyphicon-pencil"></span></a>
					</legend>
					<div class="form-group">
						<div class="col-sm-4">
							<label class="control-label" style="padding-left: 15px;">Date
								de cotisation:</label>
						</div>
						<div class="col-sm-3">
							<label class="col-sm-4 control-label"> Montant:</label>
						</div>

					</div>
					<!--Gestion Abonnement Membre Section -->
					<!-- Form Name -->
					<legend>Gestion Emprunt :</legend>
					<!-- Text input-->
					<div class="form-group">
						<div class="col-sm-3">
							<input type="text" placeholder="Titre du Media"
								class="form-control">
						</div>
						<div class="col-sm-4">
							<input type="date" name="Date_de_l'emprunt"
								placeholder="Date d'emprunt" class="form-control">
						</div>
						<div class="col-sm-4">
							<input type="date" name="Date_de_l'emprunt"
								placeholder="Date de retour prevu" class="form-control">
						</div>
					</div>

					<!-- Command -->
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary pull-right">Enregistrer</button>
						</div>
					</div>
				</fieldset>

			</form>
		</div>
		<!-- /.col-lg-12 -->
		<!-- /.row -->
		<div class="col-sm-1 col-md-offset-3 ">
			<div id="historiqueempruntmedia" class="pull-right">
				<!-- Tableau d'historique sur le coté droit de la page-->
				<h2 class="text-center">Historique</h2>
				<table id="historiquemedia"
					class="table table-bordered table-striped">


					<tr>
						<td>Media</td>
						<td>Titre</td>
						<td>Auteur</td>
						<td>Date emprunt</td>
						<td>Date retour</td>
					</tr>
					<tr>
						<td>Livre</td>
						<td>The Kid</td>
						<td>Billy</td>
						<td>5/03/87</td>
						<td>5/06/87</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>

	</div>