<!-- Text input-->

	<div class="container">

		<!-- Name Section -->
		<div class="col-md-7 col-md-offset-1 ">
			<form class="form-horizontal" role="form">

				<!-- Information personnel Section -->
				<!-- Form Name -->

				<fieldset>
					<!-- Information personnel Section -->
					<!-- Form Name -->
					<legend>
						Informations personnelles <a href="#" id="editInfos"
							class="btn btn-md btn-default pull-right"> <span
							class="glyphicon glyphicon-pencil"></span></a>
					</legend>

					<div class="form-group">
							<label class="col-sm-3">Nom:</label>						
							{{membre.nom}}
					</div>
					<div class="form-group">
							<label class="col-sm-3 ">Prenom:</label>
							{{membre.prenom}}
					</div>
					<!-- Text input-->
					<div class="form-group">
						<label class="col-sm-3" >Date de naissance:</label> 
							{{membre.date_naissance}}
					</div>
					<!-- Text input-->
					<div class="form-group">
							<label class="col-sm-3">Email:</label> {{membre.email}}		
					</div>

					<!-- Form Name -->
					<legend>
						Adresse : <a href="#" id="editAdresse"
							class="btn btn-md btn-default pull-right"> <span
							class="glyphicon glyphicon-pencil"></span>
						</a>
					</legend>
					<!-- Text input-->
					<div class="form-group">
						
							<label class="col-sm-3">Rue : </label>
							{{membre.adresse.ligne1}}, {{membre.adresse.ligne2}} 
					
					</div>
					<!-- Text input-->
					<div class="form-group">

							<label class="col-sm-3" >Code postal:</label> 
							{{membre.adresse.codepostal}}
						
					</div>
					<!-- Text input-->
					<div class="form-group">	
							<label class="col-sm-3">Ville:</label>
							{{membre.adresse.ville}}
					</div>

					<legend>
						Gestion Abonnement Membre : <a href="#"
							class="btn btn-md btn-default pull-right"> <span
							class="glyphicon glyphicon-pencil"></span></a>
					</legend>
					<div class="form-group">
						
							<label class="col-sm-3" >Date de cotisation:</label> 
								{{membre.cotisation.debut}}
					</div>
					<div class="form-group">	
							<label class="col-sm-3"> Montant:</label> 
							{{membre.cotisation.montant |currency}}
						

					</div>
					<!--Gestion Abonnement Membre Section -->
					<!-- Form Name -->
					<legend>Gestion Emprunt :</legend>
					<!-- Text input-->
					<div class="form-group">
						<div class="col-sm-3">
							<input type="text" placeholder="Titre du Media"
								class="form-control">
						</div>
						<div class="col-sm-4">
							<input type="date" name="Date_de_l'emprunt"
								placeholder="Date d'emprunt" class="form-control">
						</div>
						<div class="col-sm-4">
							<input type="date" name="Date_de_l'emprunt"
								placeholder="Date de retour prevu" class="form-control">
						</div>
					</div>

					<!-- Command -->
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary pull-right">Enregistrer</button>
						</div>
					</div>
				</fieldset>

			</form>
		</div>
		<!-- /.col-lg-12 -->
		<!-- /.row -->
		<div class="col-sm-1 col-md-offset-3 ">
			<div id="historiqueempruntmedia" class="pull-right">
				<!-- Tableau d'historique sur le coté droit de la page-->
				<h2 class="text-center">Historique</h2>
				<table id="historiquemedia"
					class="table table-bordered table-striped">
					<thead>

					<tr>
						<td>Media</td>
						<td>Titre</td>
						<td>Auteur</td>
						<td>Date emprunt</td>
						<td>Date retour</td>
					</tr>
					</thead>
					<tbody>
					
					<tr ng-repeat="media in membre.emprunt">
						<td> {{media.media.type}}</td>
						<td>{{media.media.titre}}</td>
						<td>{{media.media.auteur}}</td>
						<td>{{media.depart}}</td>
						<td>{{media.retour}}</td>
					</tr>
					</tbody>
			
				</table>
			</div>
		</div>

	</div>
