<div class = "container">
	<div class="wrapper">
		<form action="#/mediarecherche" method="get" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Bienvenu sur Mediatic </h3>
			  <hr class="colorgraph"><br>
			  <label>Nom d'utilisateur :</label>
			  <input type="text" class="form-control" name="Username" placeholder="Utilisateur"  />
			  <label>Code secret :</label>
			  <input type="password" class="form-control" name="Password" placeholder="Mot de passe"/>     		  
			 
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Connexion</button>  			
		</form>			
	</div>
</div>