<!-- BARRE DE RECHERCHE + BOUTTON AJOUT MEDIA -->
<div 
	class="section">
	<div 
		class="container">
		<div 
			class="row well">
			<div>
				<div 
					class="col-md-4 ">
					<input 
						class="form-control"
						type="text" 							
						id="inputRechercheBase"
						placeholder="Cherchez des titres, auteurs ou autre chose"
						ng-model="modelRechercheBase.tout">
				</div>
				<div 
					class="col-md-3">
					<button 
						class="btn btn-default" 
						id="buttonRechercheBase"
						ng-click="lancerRechercheBase()">
						<i 
							class="fa fa-search" 
							aria-hidden="true">
						</i>
					</button>
					<button 
						class="btn btn-link" 
						id="buttonModeRechercheAvanceeOn"										
						ng-show="modeRechercheAvancee===false"
						ng-click="modeRechercheAvancee=true">
						Recherche avanc&eacute;e
					</button>
				</div>
			</div>
<!-- FIN DE LA RECHERCHE - DEBUT BOUTON AJOUT MEDIA  -->
			<div>	
				<a 
					class="btn btn-primary pull-right"
					href="#/mediacreation">
					<i 
						class="fa fa-fw -square -circle fa-plus-square">
					</i>
					Ajouter nouveau m&eacute;dia
				</a>                   	
			</div>
		</div>
	</div>
</div>
<!-- FIN DE LA BARRE -->

<!-- TABLEAU DES MEDIAS -->
<div 
	class="row">
	<div 
		class="table-responsive col-md-8 col-md-offset-2">
		<table 
			class="table table-hover table-striped text-center">
<!--TITRE DES COLONNES + BOUTONS DE TRI -->
			<thead>
				<tr>
					<th 
						class="colonneVue">
						Aller &agrave;
					</th>
					<th 
						class="colonneTitre">
						<select 								
							id="filtreType"
							ng-model="filtreBy.type">
							<option value="">Tous</option>
							<option>Livre</option>
							<option>CD</option>
							<option>DVD</option>
						</select>
						<span
							id="spanTitrePasTri"
							ng-show="tdTri !== 'titre'" 
							ng-click="tdTri = 'titre'">
							Titre		
							<i 
								class="fa fa-sort pull-right" 
								aria-hidden="true">
							</i>														
						</span>
						<span
							id="spanTitreTri"
							ng-show="tdTri === 'titre'">												
							<span
								id="spanTitreTriOrdre"
								ng-show="triInverse === false"
								ng-click="triInverse = true">
								Titre
								<i
									class="fa fa-caret-up pull-right text-primary"
									aria-hidden="true">
								</i>								
							</span>					
							<span
								id="spanTitreTriInverse"
								ng-show="triInverse === true"
								ng-click="triInverse = false">
								Titre
								<i
									class="fa fa-caret-down pull-right text-primary"
									aria-hidden="true">
								</i>								
							</span>
						</span>
					</th>
					<th 
						class="colonneAuteur">		
						<span
							id="spanAuteurPasTri"
							ng-show="tdTri !== 'auteur'" 
							ng-click="tdTri = 'auteur'">
							Auteur		
							<i 
								class="fa fa-sort pull-right" 
								aria-hidden="true">
							</i>														
						</span>
						<span
							id="spanAuteurTri"
							ng-show="tdTri === 'auteur'">												
							<span
								id="spanAuteurTriOrdre"
								ng-show="triInverse === false"
								ng-click="triInverse = true">
								Auteur
								<i
									class="fa fa-caret-up pull-right text-primary"
									aria-hidden="true">
								</i>								
							</span>					
							<span
								id="spanAuteurTriInverse"
								ng-show="triInverse === true"
								ng-click="triInverse = false">
								Auteur
								<i
									class="fa fa-caret-down pull-right text-primary"
									aria-hidden="true">
								</i>								
							</span>
						</span>
					</th>
					<th 
						class="colonneEtat">
						&Eacute;tat :
						<select
							class="pull-right"							
							id="filtreEtat"
							ng-model="filtreBy.etat">
							<option value="">Tous</option>
							<option value="PRETE">
								Emprunt&eacute;
							</option>
							<option value="LIBRE">
								En rayon
							</option>
						</select>
					</th>
					<th 
						class="colonneNomEmprunteur">
						<span
							id="spanEmprunteurPasTri"
							ng-show="tdTri !== 'emprunteur.nom'" 
							ng-click="tdTri = 'emprunteur.nom'">
							Emprunteur		
							<i 
								class="fa fa-sort pull-right" 
								aria-hidden="true">
							</i>														
						</span>
						<span
							id="spanEmprunteurTri"
							ng-show="tdTri === 'emprunteur.nom'">												
							<span
								id="spanTitreTriOrdre"
								ng-show="triInverse === false"
								ng-click="triInverse = true">
								Emprunteur
								<i
									class="fa fa-caret-up pull-right text-primary"
									aria-hidden="true">
								</i>								
							</span>					
							<span
								id="spanEmprunteurTriInverse"
								ng-show="triInverse === true"
								ng-click="triInverse = false">
								Emprunteur
								<i
									class="fa fa-caret-down pull-right text-primary"
									aria-hidden="true">
								</i>								
							</span>
						</span>
					</th>
					<th 
						class="colonneDateRetour">
						<span
							id="spanDateRetourPasTri"
							ng-show="tdTri !== 'retour'" 
							ng-click="tdTri = 'retour'">
							Retour	
							<i 
								class="fa fa-sort pull-right" 
								aria-hidden="true">
							</i>														
						</span>
						<span
							id="spanDateRetourTri"
							ng-show="tdTri === 'retour'">												
							<span
								id="spanTitreTriOrdre"
								ng-show="triInverse === false"
								ng-click="triInverse = true">
								Retour
								<i
									class="fa fa-caret-up pull-right text-primary"
									aria-hidden="true">
								</i>								
							</span>					
							<span
								id="spanDateRetourTriInverse"
								ng-show="triInverse === true"
								ng-click="triInverse = false">
								Retour
								<i
									class="fa fa-caret-down pull-right text-primary"
									aria-hidden="true">
								</i>								
							</span>
						</span>
					</th>
				</tr>
<!-- FIN DES TITRES -->
<!-- BARRE DE RECHERCHE AVANCEE -->
				<tr 
					class="rowRechercheAvancee" 
					ng-show="modeRechercheAvancee==true">
						<th></th>
						<th>
							<input 
								class="form-control"
								type="text" 								 
								id="inputRechercheTitre"
								placeholder="Titre"
								ng-model="modelRechercheAvancee.titre">
						</th>
						<th>
							<input 
								class="form-control"
								type="text" 								 
								id="inputRechercheAuteur"
								placeholder="Auteur"
								ng-model="modelRechercheAvancee.auteur">
						</th>
<!-- 						<th> -->
<!-- 							<select  -->
<!-- 								class="form-control" -->
<!-- 								id="inputRechercheType" -->
<!-- 								ng-model="modelRechercheAvancee.type"> -->
<!-- 								<option>Tous</option> -->
<!-- 								<option>Livre</option> -->
<!-- 								<option>CD</option> -->
<!-- 								<option>DVD</option> -->
<!-- 							</select> -->
<!-- 						</th> -->
						<th>
<!-- 							<select  -->
<!-- 								class="form-control" -->
<!-- 								id="inputRechercheEtat" -->
<!-- 								ng-model="modelRechercheAvancee.etat"> -->
<!-- 								<option>Emprunt&eacute;</option> -->
<!-- 								<option>En rayon</option> -->
<!-- 							</select> -->
						</th>
						<th>
							<input
								class="form-control"
								type="text" 								
								id="inputRechercheNomEmprunteur"
								placeholder="Emprunt&eacute; par"
								ng-model="modelRechercheAvancee.emprunteur.nom">
						</th>
						<th>
							<datepicker	
								date-set-hidden="true"
      							date-format="y-MM-dd"      							
							    date-typer="true"
							    button-prev='<i class="fa fa-arrow-circle-left"></i>'
								button-next='<i class="fa fa-arrow-circle-right"></i>'>
  								<input  
  									class="form-control" 									 
  									type="text"
  									id="inputRechercheDateRetour"
  									ng-model="modelRechercheAvancee.retour"/>
							</datepicker>
						</th>
						<th>
							<button 
								class="btn btn-default"
								id="buttonRechercheAvancee"
								ng-click="lancerRechercheAvancee()">
								<i 
									class="fa fa-search" 
									aria-hidden="true">
								</i>
							</button>
						</th>
						<th>
							<button
								class="btn btn-default"
								id="buttonModeRechercheAvanceeOff"														
								ng-click="modeRechercheAvancee=false">
								<i 
									class="fa fa-window-minimize" 
									aria-hidden="true">
								</i>
							</button>
						</th>
				</tr>
			</thead>
			<!-- FIN DE LA BARRE DE RECHERCHE AVANCEE -->
			<tbody>

			<tr
				dir-paginate="media in listeMedia | 
							  orderBy:tdTri:triInverse | 
							  filter: filtreBy | 
							  filter: getObjetFiltre()  | 
							  itemsPerPage: 10">											

					<td>
						<a 
							class="btn"
							href="#/mediavisualisation/{{media.id}}">
							<i 
								class="fa fa-eye" 
								aria-hidden="true">
							</i>
						</a>
					</td>
					<td 
						class="text-left"> 
						<span 						 
							ng-if="media.type==='Livre'">
							<i 
								class="fa fa-book" 
								aria-hidden="true">
							</i>
						</span>
							<span 						 
							ng-if="media.type==='CD'">
							<i 
								class="fa fa-music" 
								aria-hidden="true">
							</i>
						</span>
							<span 						 
							ng-if="media.type==='DVD'">
							<i 
								class="fa fa-film" 
								aria-hidden="true">
							</i>
						</span>	
						<span 
							ng-bind="media.titre">
						</span>
					</td>
					<td 
						class="text-left"> 
						<span 
							ng-bind="media.auteur">
						</span>
					</td>					
<!-- Utilisation de ng-if-start et -end pour délimiter un bloc complet soumis à la condition : en l'espèce : que le média est emprunté -->
					<td 
						ng-if-start="media.emprunteur!==undefined">
						<i 
							class="fa fa-ban text-danger" 
							aria-hidden="true">
						</i>
					</td>					
					<td 
						class="text-left">
						<a 
							class="btn"
							href="#/adherentvisualisation/{{media.emprunteur.id}}">
							<i 
								class="fa fa-user-circle" 
								aria-hidden="true">
							</i>
						</a>
						<span 
							ng-bind="media.emprunteur.nom">
						</span>
					</td>
					<td
						ng-if-end>
						<span 
							ng-bind="media.retour">
						</span>	
					</td>
<!-- idem quand le média est libre -->
					<td 
						ng-if-start="media.emprunteur===undefined"
						>		
						<i 
							class="fa fa-check text-success" 
							aria-hidden="true">
						</i>						
					</td>
					<td></td>
					<td	ng-if-end></td>										
				</tr>		
			</tbody>
					
			<tfoot>
			</tfoot>			
		</table>
		
		<div 
			class="panel-footer">
			<div 
				class="row">
				<dir-pagination-controls 
					class="pull-right">
				</dir-pagination-controls>
			</div>
		</div>
		
	</div>
</div>
