
<!-- Debut de la page de visualisation -->
	<div class="container" style="height:80%">
		<div class="col-sm-5 col-xs-offset-1">
			<!-- Informations générales de visualisation-->
			<legend><h1><span 						 
							ng-if="media.type==='Livre'">
							<i 
								class="fa fa-book" 
								aria-hidden="true">
							</i>
						</span>
							<span 						 
							ng-if="media.type==='CD'">
							<i 
								class="fa fa-music" 
								aria-hidden="true">
							</i>
						</span>
							<span 						 
							ng-if="media.type==='DVD'">
							<i 
								class="fa fa-film" 
								aria-hidden="true">
							</i>
						</span>	 {{media.titre}}</h1></legend>
			<div id="infomedia">
				<label>Auteur :</label>
				<span style ="font-size:25px" class="visualisation">{{media.auteur}}</span>
				<br>
				<label>Type :</label>
				<span style ="font-size:25px" class="visualisation">{{media.type}}</span>
			</div>
			
			<div id="siemprunt" ng-if="isReturn(media.retour)">
			<!-- S'affiche si le média est emprunté-->
				<h3>Emprunt&eacute;</h3>
				<label>Nom emprunteur :</label>{{media.emprunteur.nom}}
				<br>
				<label>Prenom emprunteur :</label>{{media.emprunteur.prenom}}
				<br>
				<label>Date d'emprunt :</label>{{media.emprunteurs[media.emprunteurs.length-1].depart}}
				<br>
				<label>Date de retour maximum :</label>{{media.emprunteurs[media.emprunteurs.length-1].retour}}
				<br>
				<button class="btn btn-primary btn-lg" id="boutonretourmedia">Validation retour</button>
			</div>
			
			<div id="sipasemprunt" ng-if="!isReturn(media.retour)">
			<!-- S'affiche si le média n'est pas emprunté-->
				<h3>Libre</h3>
				<button class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">R&eacute;aliser un  emprunt</button>
			</div>
				
			
			
			<!-- Modal de confirmation -->
			<div class="modal fade bs-modal-sm" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				 <div class="modal-dialog modal-md">
    				<div class="modal-content" ng-controller='EmpruntCtrl'>
				 
						<div class="modal-header">
							<h3 class="col-xs-10">Choix de l'emprunteur</h3>
		    				<button type="button" class="close col-xs-2" data-dismiss="modal">close</button>
						</div>
						
						<div class="modal-body">
						
							<label>Nom emprunteur :</label>
							<input type="text" id="nomemprunt" ng-model="filtreemprunteur.nom">
							<br>
							<label>Prenom emprunteur :</label>
							<input type="text" id="prenomemprunt" ng-model="filtreemprunteur.prenom">
							<br>
							<table id="emprunteurconfirm" class="table table-bordered table-striped">
								<tr>
									<td>Valid</td>
									<td>Nom</td>
									<td>Prenom</td>
									<td>Date de naissance</td>
								</tr>
								<tr dir-paginate="ligne in adherents | filter: filtreemprunteur | itemsPerPage: 6">
									<td><a href="#"  data-dismiss="modal" ng-click="addemprunt(ligne,media)" class="glyphicon glyphicon-user"></a></td>
									<td>{{ligne.nom}}</td>
									<td>{{ligne.prenom}}</td>
									<td>{{ligne.date_naissance}}</td>
								</tr>
							</table>
						
								<div class="row">
							   		<dir-pagination-controls class="pull-right"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>
			<!-- Tableau d'historique sur le coté droit de la page-->
					<div class="col-sm-4">
						<div id = "historiqueempruntmedia" class="xs-pull-right">
							<h3 class="text-center">Historique</h3>
							<table id="historiquemedia" class="table table-bordered table-striped">
								
								
								<tr>
									<td>Nom</td>
									<td>Prenom</td>
									<td>Date emprunt</td>
									<td>Date retour</td>
								</tr>
								<tr ng-repeat='ligne in media.emprunteurs'>
									<td>{{ligne.adherent.nom}}</td>
									<td>{{ligne.adherent.prenom}}</td>
									<td>{{ligne.depart}}</td>
									<td>{{ligne.retour}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			<!-- fin de la page de visualisation -->
			
		
		
	

<pre>{{media | json}}</pre>

