
	<div class="container" style="height: 100% ;">
		<form class="form-horizontal">

			<div class="form-group">
				<label class="col-sm-2 control-label">Titre</label>
				<div class="col-xs-8">
					<input class="form-control" id="focusedInput" type="text"
						value="Titre">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Auteur</label>
				<div class="col-xs-8">
					<input class="form-control" id="focusedInput" type="text"
						value="Auteur">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Type</label>
				<div class="col-xs-8">
					<select class="form-control">
						<option>Livre</option>
						<option>CD</option>
						<option>DVD</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<button id="save_button" type="submit" class="btn btn-primary pull-right">Valider</button>
				</div>
			</div>

		</form>
	</div>

	